<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
    
<script>
    console.log('Functionality and tests are not available on the home page. Please use the navigation bar and select the task you would like to test.')
</script>

</head>

<body>
	<nav>
		<a class="sel">Home</a>
		<a href="task1/task1.html">task1</a>
		<a href="task2/task2.html">task2</a>
		<a href="task3/task3.html">task3</a>
		<a href="task3/task3a.html">task3a</a>
		<a href="task3/task3b.html">task3b</a>
	</nav>
	<div class="below">
		<h2>P-I Test</h2>

		<p>The test cosnsists of the below 3 tasks. You can use each task's functions and run their tests by using the console (F12) and the navigation bar above.</p>
		<hr>
        <table>
			<tr>
				<td>
					<h4><a href="task1/task1.html">Task 1</a></h4>
					<h5>The task is to produce a funtion that returns a string from 2 initial strings applying various rules. </h5>

					<div style="font-size:0.8em">
						<p>Given two strings s1 and s2, we want to visualize how different the two strings are. We will only take into account the lowercase letters (a to z). First let us count the frequency of each lowercase letters in s1 and s2.</p>

						<pre>
    s1 = "A aaaa bb c"
    s2 = "& aaa bbb c d"

    s1 has 4 'a', 2 'b', 1 'c'
    s2 has 3 'a', 3 'b', 1 'c', 1 'd'
        </pre>
						<p>
							So the maximum for 'a' in s1 and s2 is 4 from s1; the maximum for 'b' is 3 from s2. In the following we will not consider letters when the maximum of their occurrences is less than or equal to 1.
						</p>
						<p>
							We can resume the differences between s1 and s2 in the following string: "1:aaaa/2:bbb" where 1 in 1:aaaa stands for string s1 and aaaa because the maximum for a is 4. In the same manner 2:bbb stands for string s2 and bbb because the maximum for b is 3.
						</p>
						<p>
							The task is to produce a string in which each lowercase letters of s1 or s2 appears as many times as its maximum if this maximum is strictly greater than 1; these letters will be prefixed by the number of the string where they appear with their maximum value and :. If the maximum is in s1 as well as in s2 the prefix is =:.
						</p>
						<p>
							In the result, substrings will be in decreasing order of their length and when they have the same length sorted alphabetically; the different groups will be separated by '/'.

						</p>
						<p>
							Hopefully other examples can make this clearer.
						</p>
						<pre>
    s1 = "my&friend&Paul has heavy hats! &"
    s2 = "my friend John has many many friends &"
    mix(s1, s2) --> "2:nnnnn/1:aaaa/1:hhh/2:mmm/2:yyy/2:dd/2:ff/2:ii/2:rr/=:ee/=:ss"

    s1 = "mmmmm m nnnnn y&friend&Paul has heavy hats! &"
    s2 = "my frie n d Joh n has ma n y ma n y frie n ds n&"
    mix(s1, s2) --> "1:mmmmmm/=:nnnnnn/1:aaaa/1:hhh/2:yyy/2:dd/2:ff/2:ii/2:rr/=:ee/=:ss"

    s1="Are the kids at home? aaaaa fffff"
    s2="Yes they are here! aaaaa fffff"
    mix(s1, s2) --> "=:aaaaaa/2:eeeee/=:fffff/1:tt/2:rr/=:hh"
        </pre></div>
				</td>
				<td>
					<h4>Solution</h4>
					<div style="font-size:0.8em">

						<p>The global mix function can be called from the console with the following syntax:</p>
						<pre>
    mix(string1,string2)
                            </pre>

						<h4>It consists of the below steps:</h4>
						<ol>
							<li>converts strings to lowercase, removing all special characters</li>
							<li>counts the occurances of each character in these strings, stores the results as objects in 2 arrays, one for each string</li>
							<li>removes the charactes which occur less than twice</li>
							<li>merges the two arrays together</li>
							<li>removes duplicate characters that were present in both strings, keeping only the record where the character occured more times, while marking the characters that occur the same amount of times in both strings</li>
							<li>sorts the above array following the rules declared in the task</li>
							<li>converts the array to a string using the given rules and returns it</li>
						</ol>
						<br> <br>
						<p>When the task page initializes, it runs some tests confirming that the function produces the desired result. The test log is displayed on the console.</p>


						<p>A test function can be called from the console with the below syntax:</p>
						<pre>
    test(inputString1,inputString2,expectedResult)
                            </pre>
						<p>This will run the mix function and compare the actual results with the expected one.</p>

					</div>
				</td>
			</tr>
		</table>
        <hr>
		<table>
			<tr>
				<td>
					<h4><a href="task2/task2.html">Task 2</a></h4>
					<h5>The task is to produce a funtion that returns an array from 2 initial arrays by shuffling them together. </h5>

					<div style="font-size:0.8em">
						<p>You have to create a function "compoundArray" which should take as input two int arrays. They can have different lengths, and return one int array with numbers from both arrays shuffled one by one from each input array.</p>
						<p>Example:<pre>
             
    Input1 - [1,2,3,4,5,6], Input2 - [9,8,7,6], Output - [1,9,2,8,3,7,4,6,5,6];
    Input1 - [1,2], Input2 - [9,8,7,6] Output - [1,9,2,8,7,6];
    Input1 - [1,2,3,4,5,6], Input2 - [], Output - [1,2,3,4,5,6];
    Input1 - [], Input2 - [9,8,7,6], Output - [9,8,7,6];
    Input1 - [], Input2 - [], Output - [];
    
        </pre>
					</div>
				</td>
				<td>
					<h4>Solution</h4>
					<div style="font-size:0.8em">

						<p>Two separate functions are available:</p>
						<pre>
    compoundArray(intArray1,intArray2)
    
                &
                
    compound32Array(int32Array1,int32Array2)
    
                        </pre>
						<p>The function <strong>compoundArray</strong> takes 2 regular JavaScript arrays and returns a third one, while function <strong>compound32Array</strong> takes 2 typed arrays, and gives another typed array as result.
						</p>

						<p>When the task page initializes, it runs some tests confirming that the function produces the desired result. The test log is displayed on the console.</p>


						<p>Two test functions can be called from the console with the below syntax:</p>
						<pre>
    test(inputArray1,inputArray2,expectedResult)
    
                &
                
    test32(inputArray1,inputArray2,expectedResult)
                        </pre>
						<p> These will run the corresponding compoundArray function and compare the actual results with the expected one. The compound32Array function takes two regular arrays as arguments and converts them to typed arrays before running the test.</p>

					</div>
				</td>
			</tr>
		</table>
        <hr>
		<table>
			<tr>
				<td>
					<h4><a href="task3/task3.html">Task 3</a></h4>
					<h5>The task is to produce a funtion that reverses only the odd characters in a string, then use it in an AngularJS app with and without creating a custom directive.</h5>

					<div style="font-size:0.8em">
						<p>Write a function reverse(s) only the odd characters in a string, assume that the first char index is 1, so odd char.</p>
						<p>Example:<pre>
             
    Input - "test", Output - "sett";
    Input - "", Output - "";
    Input - "a", Output - "a";
    Input - "ab", Output - "ab";
    Input - "abc", Output - "cba";
      
        </pre>

							<p><strong>3.a) </strong> Write the same functionality in a AngularJS App without a creation of a AngularJs Directive.</p>
							<br>
							<p><strong>3.b) </strong> Write the same functionality with a AngularJs Directive in a AngularJS App.</p>

					</div>
				</td>
				<td>
					<h4>Solution</h4>
					<div style="font-size:0.8em">

						<p>In task3 the global reverser function can be called from the console with the following syntax:</p>
						<pre>
    reverser(inputString)
                            </pre>
						<h4>It consists of the below steps:</h4>
						<ol>
							<li>splits the string in two strings, storing the odd characters the first, the even ones in the second</li>
							<li>combines the two strings back to one by taking characters one by one from different ends of the two strings created in the previos step</li>

						</ol>
						<br>
						<p>When the task3 page initializes, it runs some tests confirming that the function produces the desired result. The test log is displayed on the console.</p>


						<p>The test function can be called from the console with the below syntax:</p>
						<pre>
    test(inputString)    
                        </pre>
						<p>This will run the reverser function and compare the actual result with the expected one.</p>
						<p>In 3/a the AngularJS app has a filter that is using the above function. This way the functionality can be dynamically visualised with 2 lines in the HTML code:</p>
						<pre>
    &#60;label&#62;Input: htrml&#60;/label&#62;&#60;input ng-model="input"&#62;&#60;/input&#62;
   
    &#60;label&#62;Result: &#60;/label&#62;{{input | reverser}}      
                        </pre>

						<p>In 3/b the AngularJS app has a directive that is using the above mentioned filter. Again, the functionality can be dynamically visualised with 2 lines in the HTML code:</p>
						<pre>
    &#60;label&#62;Input: &#60;/label&#62;&#60;input ng-model='input'&#62;&#60;/input&#62;
    
    &#60;label&#62;Result: &#60;/label&#62;&#60;reversed input='input'&#62;&#60;/reversed&#62;      
                        </pre>

					</div>
				</td>
			</tr>
		</table>

	</div>


</body>

</html>
